---
layout: default
---

<p></p>

<div class="card-columns">
  <div class="card card-block bg-faded">
    <h2 class="card-title">About</h2>
    <p class="card-text">Mulled is a repository of prebuilt Linux utilities, available as Docker containers from Docker Hub. In contrast
    to the usual approach with Dockerfiles, we strive for small (and fast) images.</p>
    <a href="https://github.com/thriqon/mulled" class="card-link btn btn-default">
      <i class="fa fa-github"></i>
      Visit Source
    </a>
  </div>
  <div class="card">
    <div class="card-block bg-faded">
      <h2 class="card-title">How To Use</h2>
      <p class="card-text">
        On this page, you can find all already built packages. They are all available under the Docker Hub repository
        <samp>thriqon/mulled</samp>, the package name is the tag. However, for additional security, you can also use
        the digest next to the package. Using that you can be sure you get the image as it was produced on the build cluster.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block bg-faded">
      <h2 class="card-title">Propose new package</h2>

      <p class="card-text">To propose a new package, please fork our Github repository,
      and add the desired package to <code>packages.tsv</code>. We currently support packages from Homebrew, but more will follow.</p>

      <a href="https://github.com/thriqon/mulled/fork" class="card-link btn btn-primary">
        <i class="fa fa-github"></i>
        Fork us
      </a>
    </div>
  </div>

  {% capture images %}
  {% for p in site.data %}
  {{p[1].date}}|{{p[0]}}
  {%endfor%}
  {% endcapture %}
  {% assign sortedimages = images | split: ' ' | sort %}

  {% for p in sortedimages %}
  {% assign pd = p | split: '|' %}
  {% assign imageid = pd[1] %}
  {% assign data = site.data[imageid] %}

  <div class="card">
    <div class="card-block">
      <h3 id="{{data.image}}" class="card-title">{{data.image}}</h3>
      <h6 class="card-subtitle text-muted">{{data.info.version}} via {{data.packager}}</h6>
      <p class="card-text">
        {{data.info.description}}
	<a href="{{data.info.homepage}}">{{data.info.homepage}}</a>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <input type="text" class="form-control" value="thriqon/mulled@{{data.checksum}}" readonly>
      </li> 
      <li class="list-group-item">
        <i class="fa fa-balance-scale fa-fw"></i> {{data.size}}
      </li>
      <li class="list-group-item">
        <i class="fa fa-calendar fa-fw"></i> {{data.date | date: "%b %d, %Y %T %Z"}}
      </li>
    </ul>
    <div class="card-block">
      <a class="card-link" href="{{data.buildurl}}">
        <i class="fa fa-book"></i>
        Build Log
      </a>
      <a href="https://github.com/thriqon/mulled/issues/new?labels=bug&title=[{{data.image}}] Bug:" class="card-link" target="_blank">
        <i class="fa fa-exclamation"></i>
        Report a Problem
      </a>
    </div>
  </div>
  {% endfor %}
</div>
