<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mulled</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <i class="fa fa-coffee"></i>
            Mulled
          </a>
        </div>
        <div class="nav navbar-nav navbar-right pull-right">
          <a class="nav-item nav-link" href="https://travis-ci.org/thriqon/mulled">Travis CI</a>
          <a class="nav-item nav-link" href="https://github.com/thriqon/mulled">Github</a>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
  <script src="clippy.js"></script>
</html>
