---
layout: default
---

{% assign data = site.data[page.image] %}

<div class="page-header">
  <h1>
    {{data.image}}
    {% if data.info %}
    <small>{{data.info.versions.stable}} via {{data.packager}}</small>
    {% endif %}
  </h1>
  {% if data.info %}
  {{data.info.desc}}<br>
  <a href="{{data.info.homepage}}">{{data.info.homepage}}</a>
  {% endif %}
</div>

<p class="text-right">
  <a href="https://github.com/thriqon/mulled/issues/new?labels=bug&title=[{{data.image}}] Bug:" class="btn btn-danger" target="_blank">
    <i class="fa fa-github fa-fw"></i>
    Report
  </a>
</p>


{% if data.published %}

<div class="panel panel-default">
  <div class="panel-body text-center">
    <i class="fa fa-dollar">&nbsp;</i><samp>docker pull thriqon/mulled:{{data.image}}</samp>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="panel-title">Build</h2>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <i class="fa fa-calendar fa-fw"></i> {{data.date | date: "%B %d, %Y %T:%M %Z"}}
    </div>
    <div class="list-group-item">
      <i class="fa fa-certificate fa-fw"></i> SHA1: <samp>{{data.checksum}}</samp>
    </div>
    <div class="list-group-item">
      <i class="fa fa-balance-scale fa-fw"></i> {{data.size}}
    </div>
  </div>
  <div class="panel-footer">
    <a class="" href="{{data.buildurl}}">Build Log</a>
  </div>
</div>

{% else %}

<div class="alert alert-info">
  <strong>Package is built</strong>, but it is not published yet. Please check back later.
</div>

{% endif %}
